@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h4>Match Schedule</h4>
        <table id="schedule" class="bordered">
            <thead>
                <tr>
                    <th data-field="id">Match ID</th>
                    <th data-field="time">Time</th>
                    <th data-field="team1">Team1</th>
                    <th data-field="team2">Team2</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>01</td>
                    <td>01/01/0001 00:00am</td>
                    <td>Pi</td>
                    <td>Tau</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>01/01/0001 01:00am</td>
                    <td>Einstien</td>
                    <td>Newton</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>01/01/0001 02:00am</td>
                    <td>Godzilla</td>
                    <td>Chuck Norris</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>