@using BussinessObject;
<!DOCTYPE html>
<html>
    <head>
        <title>Team Scheduling System</title>
    </head>
    <body>
        @{
            //add all your settings here
            _PassEncription.Seed = 217276630;
        }
    </body>
</html>
