<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml");
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h3>Referee Name</h3>
        <div class="row">
            <div class="col s10 offset-s1 blue lighten-5">
                <table>
                    <tr>
                    <td>
                    	<h4>Match ID</h4>
                    </td>
                    </tr>
                    <tr>
                    	<td>Date & time</td>
                    </tr>
                    <tr>
                    	<td>Location</td>
                    </tr>
                    <tr>
                        <td>Team 1</td>
                    </tr>
                    <tr>
                    	<td>Team 2</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</body>

</html>