<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml");
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h3>User Name</h3>
        <div class="row">
            <div class="col s10 offset-s1 blue lighten-5">
                <table>
                    <tr>
                        <td>
                            <h4>Team Name</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>School Name</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>Group Size</td>
                    </tr>
                    <tr>
                        <td>Score Record</td>
                    </tr>
                    <tr>
                        <td>User Type</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>