<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml");
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h2>Representative Name</h2>
        <div class="row">

            <div class="col s10 offset-s1 blue lighten-5">
                <table>
                    <tr>
                        <td>
                            <h4>School Name</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>School Address</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1 blue lighten-5">
                <table>
                    <tr>
                        <td>
                            <h5>Team 1</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>team member 1</td>
                    </tr>
                    <tr>
                        <td>team member 2</td>
                    </tr>
                    <tr>
                        <td>team member 3</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col s3 offset-s1">
                <button class="btn waves-effect waves-light">
                    <a href="newAccount.html" class="white-text">Add New Team</a>
                </button>
            </div>

        </div>
    </div>
</body>

</html>