@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="row">
        <div class="col s12 m4 l3">
            Left Navigation tab
        </div>

        <div class="col s12 m8 l9">
            Right side Content
            <!-- Teal page content  -->
        </div>
    </div>

</body>

</html>