@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h4>Rankings</h4>
        <table id="rank" class="bordered">
            <thead>
                <tr>
                    <th data-field="team">Team</th>
                    <th data-field="score">Accumulated Scores</th>
                    <th data-field="ratio">Win to Match Ratio</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Einstien</td>
                    <td>9001</td>
                    <td>9000/9001</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</body>

</html>