<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml");
</head>

<body>
    <!-- Content -->
    <div class="container">
        <table id="schedule" class="bordered">
            <thead>
                <tr>
                    <th data-field="id">Match ID</th>
                    <th data-field="time">Time</th>
                    <th data-field="team1">Team1</th>
                    <th data-field="team1scores">Team1 Scores</th>
                    <th data-field="team2">Team2</th>
                    <th data-field="team2scores">Team2 Scores</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>01</td>
                    <td>01/01/0001 @ 00:00am</td>
                    <td>Pi</td>
                    <td>3.14</td>
                    <td>Tau</td>
                    <td>6.28</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>01/01/0001 @ 01:00am</td>
                    <td>Einstien</td>
                    <td>54</td>
                    <td>Newton</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>01/01/0001 @ 02:00am</td>
                    <td>Godzilla</td>
                    <td>5968</td>
                    <td>Chuck Norris</td>
                    <td>999999999999</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>